@import url('https://fonts.googleapis.com/css?family=Codystar:300&display=swap');


body {
  background: #1F2937;
  color: #fff;
  height: 100%;
  text-align: center;
  font-size: 18px;
}

canvas {
  background-color: #6B91A4;
  padding: 15px;
  margin: auto;
  width: auto;
}

h1,
h2,
h3 {
  font-weight: 100;
  text-transform: uppercase;
  margin: 5px 0;
}

h1 {
  font-size: 2.6em;
}

h2 {
  font-size: 1.6em;
}

p {
  font-size: 1.6em;
}

#alphabet {
  margin: 15px auto;
  padding: 0;
  max-width: 900px;
}

#alphabet:after {
  content: "";
  display: table;
  clear: both;
}

#alphabet li {
  float: left;
  margin: 0 10px 10px 0;
  list-style: none;
  width: 35px;
  height: 30px;
  padding-top: 10px;
  padding-bottom: 2rem;
  background: #ffffff;
  color: #1F2937;
  cursor: pointer;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -khtml-border-radius: 5px;
  border: solid 1px #fff;
}

#alphabet li:hover {
  background: #6B91A4;
  border: solid 1px #fff;
  color: #fff;
}

#guessedLetter {
  margin: 0;
  display: block;
  padding: 0;
  display: block;
}

#guessedLetter li {
  position: relative;
  list-style: none;
  margin: 0;
  display: inline-block;
  padding: 0 10px;
  font-size: 1.6em;
}

.active {
  opacity: 0.4;
  filter: alpha(opacity=40);
  -moz-transition: all 1s ease-in;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  cursor: default;
}

.active:hover {
  -moz-transition: all 1s ease-in;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  opacity: 0.4;
  filter: alpha(opacity=40);
  -moz-transition: all 1s ease-in;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

#health {
  font-size: 1.6em;
  text-align: center;
  display: block;
}

.container{
  padding: 1em;
  margin: auto;
}

button {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -khtml-border-radius: 5px;
  background: #6B91A4;
  color: #fff;
  border: solid 1px #fff;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.2em;
  font-family: "MedievalSharp";

  padding: 18px 10px;
  width: 180px;
  margin: 10px;
  outline: none;
}

button:hover {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: #fff;
  border: solid 1px #fff;
  color: #1F2937;
}

@media (max-width: 800px) {
  #alphabet {
    padding: 0 0 0 15px;
  }
}

@media (max-width: 200px) {
  #alphabet {
    padding: 0 0 0 25px;
  }
}